fastapi
uvicorn
motor
beanie
pymongo
dnspython
pydantic
pydantic-settings
pydantic[email]
email-validator
python-dotenv
google-generativeai
requests
httpx
bcrypt
PyJWT
passlib[bcrypt]
python-multipart